@import url('https://fonts.googleapis.com/css?family=Lato:300,300i&display=swap');

body {
    font-family: 'Lato', sans-serif;
    text-align: center;
    background: rgb(9,9,121);
    background: linear-gradient(130deg, rgba(9,9,121,1) 0%, rgba(179,0,255,1) 100%);
}

nav {
    position: absolute;
    margin: auto;
}

nav ul {
    list-style: none;
    margin: auto;
    font-size: 1.25em;
}

nav ul li {
    display: inline-block;
    margin: 15px;
    color: rgba(255, 255, 255, 0.9);
    cursor: default;
}

nav ul li:not(:first-child) {
    margin: 0;
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    padding: 10px 20px;
}

nav ul li a {
    font-family: 'Lato', sans-serif;
    text-align: center;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
    transition: ease-in-out 0.2s;
}

nav ul li a:hover {
    color: rgba(255, 255, 255, 0.9);
}

.container {
    margin: auto;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.label {
    font-size: 1.75em;
    color: rgba(255, 255, 255, 0.6)
}

.timer {
    font-size: 2em;
    color: rgba(255, 255, 255, 0.7)
}